@import '~@angular/material/theming';

* {
  &:active,
  :focus {
    outline: none !important;  // 1
  }
}

// as per https://material.angular.io/guide/theming-your-components
@mixin app-global-reset-theme($theme) {
  $primary: map-get($theme, primary);
  a:not(.mat-button):not(.mat-raised-button):not(.mat-fab):not(.mat-mini-fab):not([mat-list-item]) {
    color: mat-color($primary);
  }
}

