bazel-bin/
bazel-gobase/
bazel-out/
bazel-testlogs/
bazel-*
dist/
/target/
**/.build/
/bin/
**/*.rs.bk
/.idea/
*.iml
cmake-build-debug
**/*.log
/debug/
logs/
log/
bin/

.cache

**/target/**/*
.DS_Store

*.log


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Node ###
/node_modules/

### binaries ###
./clipo
./clipo.exe

./uaa
./uaa.exe

./uaa-admin
./uaa-admin.exe

!**/github.com/rs/zerolog/log/
