    <!DOCTYPE html>
    <html>

    <head>
        <title>{{ .title }}</title>
    </head>

    <body>
    <h1>An application requests access to your data!</h1>
    <form action="{{""}}" method="POST">
        <input type="hidden" name="challenge" value="{{.challenge}}">
        {{if .client.LogoURI}}
            <img src="{{.client.LogoURI}}">
        {{end}}
        <p>Hi {{.user}}, application <strong>
                {{ if .client.Name }}
                    {{ .client.Name }}
                {{end}}
                {{ if .client.ClientID }}
                    {{ .client.ClientID }}
                {{end}}
            </strong> wants access resources on your behalf and to:
        </p>{{range $scope := .requestedScope }}<input type="checkbox" id="{{$scope}}" value="{{$scope}}" name="grant_scope"><label for="{{$scope}}">{{$scope}}</label><br>{{end}}
        <p>Do you want to be asked next time when this application wants to access your data? The application will
            not be able to ask for more permissions without your consent.</p>
        <ul>{{if .client.PolicyURI}}
                <li><a href="{{.client.PolicyURI}}">Policy</a></li>
            {{end}}
            {{if .client.TermsOfServiceURI}}
                <li><a href="{{.client.TermsOfServiceURI}}">Terms of Service</a></li>
            {{end}}</ul>
        <p><input type="checkbox" id="remember" name="remember" value="1"><label for="remember">Do not ask me again</label></p>
        <p><input type="submit" id="accept" name="submit" value="Allow access"><input type="submit" id="reject" name="submit" value="Deny access"></p>
    </form>

    </body>

    </html>
