<div class="login-wrapper d-flex justify-content-center">

  <mat-card class="box">
    <mat-card-header class="w-100 text-center">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <form class="login-form">
      <mat-card-content>
        <mat-form-field class="w-100">
          <input matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field class="w-100">
          <input matInput placeholder="Password">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="w-100">Login</button>

      <div class="mt-2">
        <p>
          Don't have an account? <a routerLink="/account/register" class="">Register</a>
        </p>
      </div>
    </form>
  </mat-card>

</div>
