{{ define "content" }}

    <p>
        We just need to validate your email address to activate your account. Simply click the following
        link:
    </p>
    <a href="{{.URL}}">Activate my account</a>

    <p>If the link does not work, copy the below URL into your browser:</p>
    <a href="{{.URL}}">{{.URL}}</a>

    Thank you

{{ end }}